.tabbar .ui-btn .ui-btn-inner { 
        padding-top: 40px !important; 
}
.tabbar .ui-btn .ui-icon { 
        width: 30px !important; 
        height: 30px !important; 
        margin-left: -15px !important; 
        box-shadow: none !important; 
        -moz-box-shadow: none !important; 
        -webkit-box-shadow: none !important; 
        -webkit-border-radius: none !important; 
        border-radius: none !important; 
}

#data-icon .ui-icon {
    background: url('../images/icons/chart.png') 50% 50% no-repeat;
    background-size: 30px 24px;
}

#templates-icon .ui-icon {
    background: url('../images/icons/notepad.png') 50% 50% no-repeat;
    background-size: 22px 28px;
}
