<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap = "http://phonegap.com/ns/1.0" version="1.0.0.0" versionCode="10">
  <name>Logger+</name>
  <author href="http://cmer.uoguelph.ca/">CIS 3760 Software Engineering</author>
  <preference name="orientation" value="portrait" />
  <feature name="http://api.phonegap.com/1.0/network"/>
  <feature name="http://api.phonegap.com/1.0/geolocation"/>
  <access subdomains="true" uri="http://phonedatalogger.appspot.com"/>
  <access subdomains="true" uri="http://maps.google.com"/>
  <icon src="assets/images/icon.png"/>
  <gap:splash src="assets/images/blackberry-splash.png" width="640" height="480"/>
  <gap:splash src="assets/images/android-splash.png" width="480" height="800"/>
  <content src="index.html"/>
</widget>
