<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:rim="http://www.blackberry.com/ns/widgets" version="1.0.0.0">
  <name>Smart Phone Data Logger</name>
  <author href="http://cmer.uoguelph.ca/">CIS 3760 Software Engineering</author>
  <feature id="blackberry.invoke" required="true" version="1.0.0.0"/>
  <feature id="blackberry.invoke.BrowserArguments" required="true" version="1.0.0.0"/>
  <feature id="blackberry.ui.menu" required="true" version="1.0.0.0"/>
  <feature id="blackberry.app" required="true" version="1.0.0.0"/>
  <feature id="blackberry.app.event" required="true" version="1.0.0.0"/>
  <feature id="blackberry.system.event" required="true" version="1.0.0.0"/>
  <access subdomains="true" uri="*"/>
  <icon src="assets/images/icon.png"/>
  <content src="index.html"/>

</widget>
