.tabbar .ui-btn .ui-btn-inner { 
    padding-top: 15px !important;
}
.tabbar .ui-btn .ui-icon { 
    width: 30px !important; 
    height: 30px !important;
    margin-left: 30px !important;
    margin-top: -5px !important;
    box-shadow: none !important; 
    -moz-box-shadow: none !important; 
    -webkit-box-shadow: none !important; 
    -webkit-border-radius: none !important; 
    border-radius: none !important; 
}

#logs-icon .ui-icon {
    background: url('../images/icons/179-notepad.png') 50% 50% no-repeat;
    background-size: 18px 18px;
}

#settings-icon .ui-icon {
    background: url('../images/icons/106-sliders.png') 50% 50% no-repeat;
    background-size: 18px 18px;
}

#export-icon .ui-icon {
    background: url('../images/icons/export.png') 50% 50% no-repeat;
    background-size: 18px 18px;
}

.tall-list .ui-btn-inner {
    min-height: 60px;
}

#sensor-title {
    font-weight: bold;
    padding-left: 15px;
    padding-top: 15px;
    text-shadow: 0px 2px 0px #ffffff;
}
